# Data and results
data/
results/
results_eval.txt

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Shell scripts (if they contain sensitive info)
*.sh

# Models and checkpoints
*.pth
*.pt
*.ckpt
*.h5
https:/https:/
__pycache__/
*.safetensors

git remote set-url origin https://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@github.com/Yarathustra/BF-Attack.gitdata/
data/
